* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(to bottom right, #CC2B5E, #FF5858);
    min-height: 100vh;
}